<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body class="container">
    <h1 class="header"><%= title %></h1>
    <ul class="messages">
        <% messages.forEach(function(message) { %>
            <li><strong><%= message.user %>:</strong> <%= message.text %> - <%= message.added.toLocaleString() %></li>
        <% }); %>
    </ul>
    <a href="/new" class="button">New Message</a>
</body>
</html>
